bin/Debug/System.Windows.Interactivity.dll
bin/Debug/Microsoft.Expression.Interactions.dll
bin/Debug/Livet.xml
bin/Debug/Livet.dll
bin/Debug/ImageLabelingTool_pre.vshost.exe
bin/Debug/ImageLabelingTool_pre.pdb
bin/Debug/ImageLabelingTool_pre.exe
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/ImageLabelingTool_pre_MarkupCompile.lref
obj/Debug/ImageLabelingTool_pre_MarkupCompile.i.lref
obj/Debug/ImageLabelingTool_pre_MarkupCompile.i.cache
obj/Debug/ImageLabelingTool_pre_MarkupCompile.cache
obj/x86/Debug/Views/MainWindow.g.i.cs
obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/x86/Debug/ImageLabelingTool_pre_MarkupCompile.i.lref
obj/x86/Debug/ImageLabelingTool_pre_MarkupCompile.i.cache
obj/Debug/ImageLabelingTool_pre.Properties.Resources.resources
obj/Debug/GeneratedInternalTypeHelper.g.i.cs
obj/Debug/GeneratedInternalTypeHelper.g.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/App.g.i.cs
obj/Debug/App.g.cs
obj/x86/Debug/ImageLabelingTool_pre_Content.g.i.cs
obj/x86/Debug/GeneratedInternalTypeHelper.g.i.cs
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/App.g.i.cs
obj/Debug/Views/MainWindow.g.i.cs
obj/Debug/Views/MainWindow.g.cs
obj/Debug/Views/MainWindow.baml
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/ImageLabelingTool_pre_Content.g.i.cs
obj/Debug/ImageLabelingTool_pre_Content.g.cs
obj/Debug/ImageLabelingTool_pre.pdb
obj/Debug/ImageLabelingTool_pre.g.resources
obj/Debug/ImageLabelingTool_pre.exe
obj/Debug/ImageLabelingTool_pre.csproj.GenerateResource.Cache
obj/Debug/ImageLabelingTool_pre.csproj.FileListAbsolute.txt
bin/Debug/ImageLabelingTool_pre.vshost.exe.manifest
ImageLabelingTool_pre/obj/x86/Debug/Views/MainWindow.g.i.cs
ImageLabelingTool_pre/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ImageLabelingTool_pre/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ImageLabelingTool_pre/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ImageLabelingTool_pre/obj/x86/Debug/ImageLabelingTool_pre_MarkupCompile.i.lref
ImageLabelingTool_pre/obj/x86/Debug/ImageLabelingTool_pre_MarkupCompile.i.cache
ImageLabelingTool_pre/obj/x86/Debug/ImageLabelingTool_pre_Content.g.i.cs
ImageLabelingTool_pre/obj/x86/Debug/GeneratedInternalTypeHelper.g.i.cs
ImageLabelingTool_pre/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ImageLabelingTool_pre/obj/x86/Debug/App.g.i.cs
ImageLabelingTool_pre/obj/Debug/Views/MainWindow.g.i.cs
ImageLabelingTool_pre/obj/Debug/Views/MainWindow.g.cs
ImageLabelingTool_pre/obj/Debug/Views/MainWindow.baml
ImageLabelingTool_pre/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ImageLabelingTool_pre/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ImageLabelingTool_pre/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ImageLabelingTool_pre/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ImageLabelingTool_pre/obj/Debug/ImageLabelingTool_pre_MarkupCompile.lref
ImageLabelingTool_pre/obj/Debug/ImageLabelingTool_pre_MarkupCompile.i.lref
ImageLabelingTool_pre/obj/Debug/ImageLabelingTool_pre_MarkupCompile.i.cache
ImageLabelingTool_pre/obj/Debug/ImageLabelingTool_pre_MarkupCompile.cache
ImageLabelingTool_pre/obj/Debug/ImageLabelingTool_pre_Content.g.i.cs
ImageLabelingTool_pre/obj/Debug/ImageLabelingTool_pre_Content.g.cs
ImageLabelingTool_pre/obj/Debug/ImageLabelingTool_pre.pdb
ImageLabelingTool_pre/obj/Debug/ImageLabelingTool_pre.g.resources
ImageLabelingTool_pre/obj/Debug/ImageLabelingTool_pre.exe
ImageLabelingTool_pre/obj/Debug/ImageLabelingTool_pre.csprojResolveAssemblyReference.cache
ImageLabelingTool_pre/obj/Debug/ImageLabelingTool_pre.csproj.GenerateResource.Cache
ImageLabelingTool_pre/obj/Debug/ImageLabelingTool_pre.csproj.FileListAbsolute.txt
ImageLabelingTool_pre/obj/Debug/ImageLabelingTool_pre.Properties.Resources.resources
ImageLabelingTool_pre/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
ImageLabelingTool_pre/obj/Debug/GeneratedInternalTypeHelper.g.cs
ImageLabelingTool_pre/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ImageLabelingTool_pre/obj/Debug/App.g.i.cs
ImageLabelingTool_pre/obj/Debug/App.g.cs
ImageLabelingTool_pre/bin/Debug/System.Windows.Interactivity.dll
ImageLabelingTool_pre/bin/Debug/Microsoft.Expression.Interactions.dll
ImageLabelingTool_pre/bin/Debug/Livet.xml
ImageLabelingTool_pre/bin/Debug/Livet.dll
ImageLabelingTool_pre/bin/Debug/ImageLabelingTool_pre.vshost.exe
ImageLabelingTool_pre/bin/Debug/ImageLabelingTool_pre.pdb
ImageLabelingTool_pre/bin/Debug/ImageLabelingTool_pre.exe
